<h1>Add/Update Member to Leaderboard '<%= params[:leaderboard] %>'</h1>

<form action="/<%= params[:leaderboard] %>/form" method="post">
  Handle: <input type="text" name="handle"><br/>
  Score: <input type="text" name="score"><br/>
  <input type="submit">
</form>